 {% extends 'base.html.twig' %}

{% block title %}Class{% endblock %}

{% block Content %}
  
    <div class="col-lg-10 col-sm-10 col-md-10">
  <h1 style="text-align:center; ">Add Class</h1>
  {{ form_start(form) }}
      
       
   {{ form_end(form) }}

  </div>

{% endblock %}
