 {% extends 'base.html.twig' %}

 {% block title %}Student{% endblock %}

{% block Content %}
  
    <div class="col-lg-10 col-sm-10 col-md-10">
  <h1 style="text-align:center; ">Add Student</h1>
     
     {{ controller_name}}
   
  </div>

{% endblock %}
